* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.padding-1 {
    padding: 1rem;
}

.flex-gap-1 {
    gap: 1rem;
}

button,
p,
h1 {
    margin: .5rem;
}

.btn-blue {
    padding: .5rem 1rem;
    background-color: #3882f6;
    color: #f9faf8;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.btn-blue:hover {
    background-color: #2661c0;
}

/* header & hero */
.bg-dark,
.bg-dark a {
    background-color: #1f2937;
    color: #f9faf8;
}

a:hover {
    color: #3882f6;
}

.header ul {
    list-style: none;
}

.header a {
    text-decoration: none;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    font-size: 24px;
    font-weight: bold;
}

.header ul {
    display: flex;
    align-items: center;
}

/* hero */
.hero {
    padding: 5rem 0;
}

.hero .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero img {
    width: 50%;
}

.hero .hero-content,
.hero img {
    flex: 1;
}

.hero .hero-content {
    width: 50%;
}

