* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.padding-1 {
    padding: 1rem;
}

.flex-gap-1 {
    gap: 1rem;
}

.flex-gap-2 {
    gap: 2rem;
}

button,
p,
h1 {
    margin: .5rem;
}

.btn-blue {
    padding: .5rem 1rem;
    background-color: #3882f6;
    color: #f9faf8;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.btn-blue:hover {
    background-color: #2661c0;
}

/* header & hero */
.bg-dark,
.bg-dark a {
    background-color: #1f2937;
    color: #f9faf8;
}

a:hover {
    color: #3882f6;
}

.header ul {
    list-style: none;
}

.header a {
    text-decoration: none;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    font-size: 24px;
    font-weight: bold;
}

.header ul {
    display: flex;
    align-items: center;
}

/* hero */
.hero {
    padding: 5rem 0;
}

.hero .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero img {
    width: 50%;
}

.hero .hero-content,
.hero img {
    flex: 1;
}

.hero .hero-content {
    width: 50%;
}

/* card content */

.card img {
    width: 100%;
    object-fit: cover;
    height: 180px;
    border-radius: 5px;
    border: 4px solid #3882f6;
}

.card .special-image {
    object-position: 0 10%;
}

.card-section .cards {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.cards .card {
    display: flex;
    flex: 0 1 auto;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 180px;
    text-align: center;
}

.cards .card p {
    color: #333;
}

.card-section .container {
    padding: 4rem;
}

.card-section h2 {
    text-align: center;
    margin-bottom: 3rem;
    color: #1f2937;
    font-size: 36px;
}

/* quote section */
.quote-section {
    background-color: #e5e7eb;
    padding: 3rem;
}

.quote-section .container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.quote-section .quote {
    font-size: 32px;
    font-style: italic;
    font-weight: 100;
}

.quote-section .quote-author {
    align-self: flex-end;
    font-size:1.5rem;
}

/* cta */
.cta .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta .container * {
    margin: 0;
}

.cta .container h2 {
    margin-bottom: .5rem;
}

.bg-primary {
    background-color: #3882f6;
    color: #f9faf8;
}

.cta .cta-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    width: 100%;
    margin: 4rem;
    border-radius: 5px;
}

.cta .cta-container .cta-content {
    width: 100%;
    margin: 0 4rem;
    flex: 2;
}

.cta .cta-container .button-lite {
    flex: 0 0 auto;
    border: 0;
    background-color: transparent;
    border: 2px solid currentColor;
    color: #f9faf8;
    padding: .5rem 1.5rem;
    font-weight: 800;
    border-radius: 5px;
    cursor: pointer;
}

.cta .cta-container .button-lite:hover {
    color: #3882f6;
    background-color: #f9faf8;
    border-color: #f9faf8;
}

/* footer */
.footer {
    background-color: #1f2937;
    padding: 1.5rem;
}

.footer p {
    color: #f9faf8;
    text-align: center;
}